<div class="container" style="padding:50px;">
    <form (ngSubmit) = "onSubmit()" >
    <input type="file" class="file-input"
    (change)="onFileSelected($event)" accept=".csv" #fileUpload>

<div class="file-upload">

{{fileName || "No file uploaded yet."}}
 <button color="primary" class="upload-btn"
   (click)="fileUpload.click()">
   <img src="../../assets/paperclip.svg" alt="buttonpng" border="0" />
 </button>
 <div class="form-group">
    <button class = "btn btn-success" type="submit" *ngIf="uploadChecked">Import</button>
    </div>
</div></form>
</div>